*{
    font-family: 'Inter', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Merriweather', serif;
    
    padding: 0%;
    margin: 0%;
}


.conteiner{
    display: block;
    width: 70%;
    max-width:1320px;
    margin: 30px auto;

}

.benner-text{
    color: azure;
    

}
.benner-img{
    
    background-image: url("images/Banner\ Image1.png");
   
    height: 600px;

}

.heppy-new-yer{
    padding-top: 177px;
    text-align: center;
    font-size: 32px;
    font-weight: 400;
    font-family: 'Merriweather', serif;
}
.new-year{
    padding-top:20px ;
    text-align: center;
    font-size: 72px;
    font-weight: 900;
    font-family: 'Merriweather', serif;
   
}


/* style of header saction compleater */
/* style of header saction compleater */



.secend-conteiner-hed{

    display: block;
    width: 70%;
    max-width:1600px;
    margin: 30px auto;

}

.secendconteiner-p1{
    font-size:88px;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
    text-align: center;
    color: red;
    padding-top: 120px;
}

.secendconteiner-p2{
    font-size: 24px;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
    text-align: center;
    color: rgb(155, 32, 32);
    padding-top: 35px;
    
}


.secendconteiner-p3{

    font-size: 48px;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
    color: rgb(27, 27, 32);
    text-align: center;
    padding-top: 15px;


}

.image{
    text-align: center;
}

.img{
    height: 450px;
    width: 600px;
    padding-top: 25px;
}


/* conteiner style finished */
/* conteiner style finished */






.conteiner-2{

    display: block;
    width: 70%;
    max-width:1320px;
    margin: 30px auto;

}




.secend-image-conteiner-2{

    background-image: url("images/Vectorrr11.png");
    height: 600px;
    background-repeat: no-repeat;
    padding-top: 68px;
    padding-left: 138px;

}

.pera-1{
    
    font-size: 64px;
    font-weight: 900;
    color: azure;
    font-family: 'Inter', sans-serif;
    padding-top:58px ;
    


}

.secend-image-conteiner-2{

    display: flex;


}

.pera-2{
    font-size: 18px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    color: azure;
    padding-left: 126;
    text-decoration: 10em;
    padding-top: 24px;
    margin-right: 20px;
}

.button {
    font-size: 20px;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
    margin-top:48px ;
    text-align: center;
    

}


/* conteiner-2 style compleate */
/* conteiner-2 style compleate */ 

.conteiner-3{

    display: block;
    padding: 30px 160px;
    border-radius: 10px;
    background-color: rgb(236, 240, 230);
    margin-top: 40px;
    height: 500px;



}

.conteiner-3-c-1{
    
    font-size: 32px;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
    text-align: center;


}

.d-t-c-color{
    color: red;
}


.conteiner-p-1{
    padding-top: 150px;
}


.conteiner-p-2{
    padding-top: 20px;

}

.conteiner-p-3{
    padding-top:20px ;
    padding-bottom:30px;
}

.button-mein{
    display: block;
    padding-bottom: 100px;
}

.button-2{
    
    font-size: 20px;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
    margin: 20 32px;
    padding: 10px;
    background-color: rgb(136, 44, 44);
    color: azure;
    border-radius: 7px;
    text-align: center;

}


/* conteiner-3 style compleate */
/* conteiner-3 style compleate */


.meinconteiner-4{
    
    display: block;
    width: 70%;
    max-width:1600px;
    margin: 30px auto;
    

}
     
.meinconteiner-4-p-1{

    font-size: 24px;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
    color: rgb(233, 126, 65);
    padding-top: 70px;
    padding-left: 15px;
}

.meinconteiner-4-p-2{

    font-size: 48px;
    font-weight: 900;
    font-family: 'Merriweather', serif;
    padding-left: 15px;

}

.meinconteiner-4-p-3{

    font-size: 20px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    text-decoration: 20em;
    margin-top: 20px;
    padding-left: 15px;
}


.level-1{

    display: flex;
    padding-top: 48px;
}

.level-2{
    display: flex;
}


.image1{
    padding-left: 15px;
    padding-bottom: 15px;
}

.image2{
    padding-left: 15px;
    padding-bottom: 15px;
}

.image3{
    padding-left: 15px;
    padding-bottom: 15px;
}

.image4{
    padding-left: 15px;
    padding-bottom: 15px;
}

.image5{
    padding-left: 15px;
    padding-bottom: 15px;
}

.image6{
    padding-left: 15px;
    padding-bottom: 15px;
}


/* meinconteiner4 style is compleat  */
/* meinconteiner4 style is compleat  */

.mienconteiner-5{

    display: block;
    padding: 30px 160px;
    border-radius: 10px;
    background-color: rgb(236, 240, 230);
    margin-top: 40px;
    height: 500px;
    text-align: center;

}



.msg-icon{
    text-align: center;
    padding-top: 80px;
}


.s-n-l{
    font-size: 48px;
    font-weight: 900;
    text-align: center;
    font-family: 'Merriweather', serif;
    padding-top: 40px;
}

.s-n-2{

    font-size: 20px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    margin-top: 22px;
    
    text-align: center;


}
.mail{
    display: flex;
   padding-left: 35%;
    border: 0;
    padding-top: 15px;
}

.eee{

    padding: 15px;
}

.sss{

    padding: 15px;



}

/* meinconteiner5 style is compleate  */
/* meinconteiner5 style is compleate  */


.footer-conteiner{
    display: block;
    width: 100%;
    height: 600px;
    background-color:rgb(17, 16, 48);
   
   

}

.footer-div-1{
    display: flex;
    padding-top: 80px;
    padding-bottom: 40px;
    padding-left: 100px;
    color: azure;
    font-size: 24;
    font-family: 'Merriweather', serif;
    font-weight: 500;
    text-align: left;
    gap:1200px;
    font-family: 'Inter', sans-serif;
}



.footer-div-2{
    color: azure;
    font-size: 24;
    font-family: 'Merriweather', serif;
    font-weight: 500;
    padding-bottom:20PX ;
    font-family: 'Inter', sans-serif;
}

.footerp-1{
    
    text-decoration: 20em;

}

.pictur{
    display: flex;
    padding-left: 40%;
    padding-top: 30px;
    padding-bottom: 30px;
    gap: 40px;
    border-top: 1px solid rgb(118, 118, 161);
    border-bottom: 1px solid rgb(140, 140, 179);

}

.last-div{

    display: flex;
    padding-top: 80px;
    padding-bottom: 40px;
    padding-left: 100px;
    color: azure;
    font-size: 24;
    font-family: 'Merriweather', serif;
    font-weight: 500;
    text-align: left;
    gap:1200px;
    font-family: 'Inter', sans-serif;


}







