*{
    font-family: 'Merriweather', serif;
    font-family: 'Open Sans', sans-serif;
    padding: 0%;
    margin: 0%;
}


.conteiner{
    
    width: 70%;
    max-width:1320px;
    margin: 30px auto;

}

.benner-text{
    color: azure;
    

}
.benner-img{
    
    background-image: url("images/Banner\ Image1.png");
   
    height: 600px;

}

.heppy-new-yer{
    padding-top: 177px;
    text-align: center;
    font-size: 32px;
    font-weight: 400;
    font-family: 'Merriweather', serif;
}
.new-year{
    padding-top:20px ;
    text-align: center;
    font-size: 72px;
    font-weight: 900;
    font-family: 'Merriweather', serif;
   
}